.ventaja {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px 30px;
    background-color: var(--gray);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.ventaja h3 {
    color: var(--white);
    font-size: 2.4rem;
    font-weight: bold;
}
.ventaja p {
    color: var(--white);
    font-size: 2.2rem;
    font-weight: normal;
}