.cliente {
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 120, 160, 0.05);
    border: 2.5px solid var(--blue);
    border-radius: 25px;
    box-shadow: 0px 4px 20px var(--light-blue);
}
.cliente img {
    width: 100px;
}
.cliente {
    color: var(--blue);
    font-size: 24px;
    font-weight: bold;
}